<a routerLink="/add" 
class="waves-effect waves-light btn right orange">Ajouter</a>
<h2>Mes salariés</h2>
<table id="table_id" class="responsive-table striped">
  <thead class="white-text #546e7a blue-grey darken-1">
    <tr>
      <th>#</th>
      <th>Nom</th>
      <th>Prémon</th>
      <th>Numéro sécu</th>      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let salarie of salaries">
      <td>{{salarie.id}}</td>
      <td>{{salarie.nom}}</td>
      <td>{{salarie.prenom}}</td>
      <td>{{salarie.numsecu}}</td>
      <td>
        <a routerLink="/edit/{{salarie.id}}" class="waves-effect waves-light btn right #e65100 green">Editer</a> |
        <a routerLink="/salaries/{{salarie.id}}" class="waves-effect waves-light btn right red">Supprimer</a>
      </td>
    </tr>
  </tbody>
</table>
