<a routerLink="/add" 
class="waves-effect waves-light btn right orange">Ajouter</a>
<h2>Mes employeurs</h2>
<table id="table_id" class="responsive-table striped">
  <thead class="white-text #546e7a blue-grey darken-1">
    <tr>
      <th>#</th>
      <th>Raison sociale</th>
      <th>SIRET</th>
      <th>CODE APE</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empl of employeurs">
      <td>{{empl.idEmployeur}}</td>
      <td>{{empl.raisonso}}</td>
      <td>{{empl.siret}}</td>
      <td>{{empl.codeAPE}}</td>
      <td>
        <a routerLink="/edit/{{empl.idEmployeur}}" class="waves-effect waves-light btn right #e65100 green">Editer</a> |
        <a routerLink="/employeurs/{{empl.idEmployeur}}" class="waves-effect waves-light btn right red">Supprimer</a>
       <!-- <button (click)="remove()"></button>-->
      </td>
    </tr>
  </tbody>
</table>