<div class="container">
  <div class="container">
    <nav class="navbar navbar-light bg-light"> </nav>
      <a class="navbar-brand" href="http://localhost:8080/salaries/"> </a>
     <!-- <app-add></app-add> -->    
    <app-list></app-list>  
    <app-edit-salarie></app-edit-salarie>
   <h2>Liste des salariés</h2>
<table>
  <tr>
    <th>ID</th>
    <th>NOM</th>
    <th>PRENOM</th>
    <th>NUMSECU</th>
  </tr>
  <tr *ngFor="let s of salarie">
    <td>{{s.id}}</td>
    <td>{{s.nom}}</td>
    <td>{{s.prenom}}</td>
    <td>{{s.numsecu}}</td>
  </tr>

</table>
    </div>
  </div>

  

