<div class="row">
    <form class="col s12" [formGroup]="form" (ngSubmit)="create()">
      <div class="row">
        <div class="input-field col s6">
          <input id="nom" type="text" formControlName="nom" data-length="10">
          <label for="nom">NOM</label>
        </div>
        <div class="input-field col s6">
          <input id="prenom" type="text" formControlName="prenom" data-length="10">
          <label for="prenom">PRENOM</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="numsecu" type="text" formControlName="numsecu" data-length="10">
          <label for="numsecu">NUMSECU</label>
        </div>
      </div>
           <button type="submit" [disabled]="!form.valid">Soumettre</button>
    </form>
  </div>
  
  {{form.value | json}}