<div class="container">
    <div class="container">
      <nav class="navbar navbar-light bg-light"> </nav>
        <a class="navbar-brand" href="http://localhost:8080/employeurs/"> </a>
        <app-add-employeur></app-add-employeur>
        <app-list-employeur></app-list-employeur>
<!--        <h2>Liste des employeurs</h2>
  <table>
    <tr>
      <th>#</th>
      <th>RAISON SOCIALE</th>
      <th>SIRET</th>
      <th>CODE APE</th>
    </tr>
    <tr *ngFor="let e of employeurs">
      <td>{{e.idEmployeur}}</td>
      <td>{{e.raisonso}}</td>
      <td>{{e.siret}}</td>
      <td>{{e.codeAPE}}</td>
    </tr>
  
  </table> -->
      </div>
    </div>
   